<div class="contenedorMensajes">
	<h1>Centro de Mensajes</h1>
	<div id="mensajes"></div>
	<label for="nombre">Nombre</label>
	<form>
		<input type="email" id="email" class="mensaje" placeholder="e-mail" required />
		<input type="text" id="nombre" class="mensaje" placeholder="Nombre" required />
		<input type="text" id="apellido" class="mensaje" placeholder="Apellido" required />
		<input type="number" id="edad" class="mensaje" placeholder="Edad" required />
		<input type="text" id="alias" class="mensaje" placeholder="Alias" required />
		<input type="text" id="avatar" class="mensaje" placeholder="avatar" />

		<label for="mensaje">Tu mensaje</label>

		<input type="text" id="texto" class="mensaje" placeholder="Mensaje" required />
		<input type="submit" class="btn" id="botonEnviar" value="Enviar" />
	</form>
</div>
