<div class="tabla">
	
<table cellspacing="0" border="0">	
	<tr>
		  
		<th id="title">Producto</th>
		<th id="price">Precio</th>
		<th id="thumbnail">Foto</th>
	   
	  </tr>	      
	<tbody id="idTbody">

</tbody>
</table>
</div>